body{
background-color: black;
color: rgb(255, 255, 255);
font-size: large;
}

.background-repeat: repeat;
h4,h3,h1{
    text-align: center;
}
nav{ text-align: center;
}

section{
    text-align: center;}

footer{
    text-align: center;
}
